.btn{
    padding: 24px 64px;
    font-family: Exo-Regular;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #DDF814;
    border: none;
    border-radius: 48px;
    cursor: pointer;
}