@import "../../scss/abstract/variables.scss";
.btn {
  padding: 12px 64px;
  font-family: Geologica-Medium;
  background-color: $accent-main-color;
  color: $main-white-color;
  box-sizing: border-box;
  text-wrap: nowrap;
  font-size: 18px;
  position: relative;
  border: none;
  border-radius: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 9;
  transition: all ease-in-out 0.25s;
  box-shadow: 0 0 0 0 rgba($accent-main-color, 1);
  &--animation-blime {
    animation-name: blimeBtn;
    animation-iteration-count: infinite;
    animation-duration: 0.9s;
    animation-timing-function: ease-in-out;
  }
}

@keyframes blimeBtn {
  0% {
    box-shadow: 0 0 0 0 rgba($accent-main-color, 1);
  }
  25% {
    box-shadow: 0 0 0 2px rgba($accent-main-color, 0.8);
  }
  50% {
    box-shadow: 0 0 0 4px rgba($accent-main-color, 0.6);
  }
  75% {
    box-shadow: 0 0 0 6px rgba($accent-main-color, 0.4);
  }
  100% {
    box-shadow: 0 0 0 8px rgba($accent-main-color, 0);
  }
}
