@import "../../scss/abstract/variables.scss";
.btn {
  padding: 12px 24px;
  font-family: Geologica-Medium;
  color: $main-white-color;
  box-sizing:content-box;
  text-wrap: nowrap;
  font-size: 16px;
  position: relative;
  border:none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  transition: all ease-in-out .2s;
  &:active{
    transform: scale(0.98);
  }

  &:hover::before{
    background-color: rgba(255, 255, 255, 0.5);
  }
  // &::before{
  //   content: "";
  //   display: flex;
  //   position: absolute;
  //   width: calc(100% + 8px);
  //   height: calc(100% + 8px);
  //   background-color: rgba(255, 255, 255, 0.2);
  //   border-radius: 16px;
  //   top: -4px;
  //   left: -4px;
  //   z-index: -1;
  //   transition: background-color ease-in-out .2s;
  // }
  
  margin: 6px;
  z-index: 9;
  transition: all ease-in-out 0.25s;
  box-shadow: 0 0 0 0 rgba($accent-main-color, 1);
  &--white-solid{
    background-color: $main-white-color;
    color: $main-black-color;
    border: 2px solid rgba($main-white-color, 1);
    outline: 4px solid rgba($main-white-color, 0.5);
    &:active{
      
    }
    
  }
  &--white-transparent{
    background-color: transparent;
    color: $main-white-color;
    border: 2px solid rgba($main-white-color, 1);
    outline: 4px solid rgba($main-white-color, 0.5);
  }
  &--green-stroke-transparent{
    background-color: transparent;
    background: linear-gradient(
      90deg,
      rgba(226, 243, 151, 1) 0%,
      rgba(90, 186, 138, 1) 100%
    );
    background-clip: text;
    color: transparent;
    border: 2px solid rgba($accent-main-color, 1);
    outline: 4px solid rgba($accent-main-color, 0.5);
    &:hover{
      color: rgba($main-white-color, 1);
    }
  }
}


