@font-face {
    font-family: Geologica-Bold;
    src: url('./fonts/Geologica-Bold.ttf');
}

@font-face {
    font-family: Geologica-Light;
    src: url('./fonts/Geologica-Light.ttf');
}

@font-face {
    font-family: Geologica-Medium;
    src: url('./fonts/Geologica-Medium.ttf');
}

@font-face {
    font-family: Geologica-Regular;
    src: url('./fonts/Geologica-Regular.ttf');
}

@font-face {
    font-family: Geologica-SemiBold;
    src: url('./fonts/Geologica-SemiBold.ttf');
}
@font-face {
    font-family: Geologica-Black;
    src: url('./fonts/Geologica-Black.ttf');
}