@import "../../scss/abstract/variables.scss";
.change-lang {
  position: relative;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  font-size: clamp(18px, 4vw, 24px);
  gap: 12px;
  margin-top: auto;
  & label {
    padding: 4px;
    border-radius: 8px;
    cursor: pointer;
  }
  & input:checked + label {
    background-color: $main-black-color;
    color: $main-white-color;
  }
}
