@import "../../scss/abstract/variables.scss";
.nav-mobile-main-btn{
    display: flex;
    width: 61px;
    border: none;
    border-radius: 48px;
    height: 61px;
    background-image: url('./navmobileicon.svg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $main-black-color;
    cursor: pointer;
    z-index: 99999;
    &:hover{
      background-color: $main-black-color-hover;
    }
    &:active{
      background-color: $main-black-color-click;
    }
    &--when-menu-show{
      background-color: $main-white-color;
      background-image: url('./navmobileicondark.svg');
      &:hover{
        background-color: $main-white-color-hover;
      }
      &:active{
        background-color: $main-white-color-click;
      }
    }
    @media (min-width: 300px) and (max-width: 768px) {
        display: flex;
      }
      @media (min-width: 769px) and (max-width: 1368px) {
        display: flex;
      }
      @media (min-width: 1369px)  and (max-width: 1499px){
       display: none;
      }
      @media (min-width: 1500px){
        display: none;
      }
}
.nav-mobile-main-menu{
  display: flex;
  position: fixed;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: $accent-main-color;
  z-index: 9999;
  transition: top ease-in-out .5s;
  &__container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    & a{
      font-size: 32px;
      font-family: Exo-Bold;
      color: $main-white-color;
      transition:all ease-in-out .25s ;
      &:hover{
        color: $main-white-color-hover;
        text-decoration: underline;
      }
      &:active{
        color: $main-white-color-click;
      }
    }
  }
  &--show{
    top: 0;
  }
  &--hide{
    top: -100vh;
  }
  @media (min-width: 300px) and (max-width: 768px) {
    display: flex;
  }
  @media (min-width: 769px) and (max-width: 1368px) {
    display: flex;
  }
  @media (min-width: 1369px)  and (max-width: 1499px){
   display: none;
  }
  @media (min-width: 1500px){
    display: none;
  }
}