@import "../../scss/abstract/variables.scss";
.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  z-index: 99;
  background-color: $main-black-color;
  &__nav-main {
    width: 100%;
    display: flex;
    padding: 12px;
    border-radius: 48px;
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
  &__link {
    color: $main-white-color;
    display: flex;
    box-sizing: border-box;
    border-radius: 24px;
    text-wrap: nowrap;
    padding: 12px;
    @media (min-width: 200px) and (max-width: 600px) {
      display: none;
    }
    @media (min-width: 601px) and (max-width: 1368px) {
      display: none;
    }
    @media (min-width: 1369px) {
      display: flex;
    }
    &:hover {
      background-color: $main-black-color-hover;
    }
  }
  &__mobile-menu-btn {
    z-index: 100;
    display: flex;
    padding: 12px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    @media (min-width: 300px) and (max-width: 600px) {
      display: flex;
    }
    @media (min-width: 601px) and (max-width: 1368px) {
      display: flex;
    }
    @media (min-width: 1369px) {
      display: none;
    }
  }
  &__mobile-menu{
    position: fixed;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -150vh;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: $accent-main-color;
    z-index: 10;
    transition: top ease-in-out .5s;
    & nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:12px;
        & a {
            font-size: 24px;
            font-family: Geologica-Bold;
            transition: color ease-in-out .25s;
            &:active, &:hover{
                color: $main-white-color;
            }
           
        }
    }
    &--show{
        top: 0;
    }
    @media (min-width: 300px) and (max-width: 600px) {
        display: flex;
      }
      @media (min-width: 601px) and (max-width: 1368px) {
        display: flex;
      }
      @media (min-width: 1369px) {
        display: none;
      }
  }
}
