@import "../../scss/abstract/variables.scss";
.nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  z-index: 99;
  backdrop-filter: blur(4px);
  &--menu-showed {
    background-color: $main-white-color;
  }
  &__nav-header {
    position: relative;
    padding: 12px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__nav-main {
    position: absolute;
    display: none;
    width: 100%;
    height: calc(100vh - 72px);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    top: 72px;
    box-sizing: border-box;
    padding: 48px;
    &--show {
      display: flex;
      background-color: $main-white-color;
      opacity: 0;
      transform: scale(0.95);
      animation-name: showMenu;
      animation-fill-mode: forwards;
      animation-duration: 0.5s;
    }
    &--hide {
      display: flex;
      background-color: $main-white-color;
      opacity: 1;
      animation-name: hideMenu;
      animation-fill-mode: forwards;
      animation-duration: 0.5s;
    }
    & ul {
      display: flex;
      flex-direction: column;
      gap: 12px;
      & li {
        display: flex;
        align-items: center;
        gap: 8px;
        & span {
          font-size: 32px;
          font-family: Geologica-Bold;
          color: $accent-main-color;
        }
        & a {
          display: inline-flex;
          font-size: 32px;
          font-family: Geologica-Bold;
          padding: 8px;
          border-radius: 4px;
          transition: all ease-in-out .2s;
          &:active{
background-color: $accent-main-color;
  color: $main-white-color;
          }
          &:hover{
           
              color: $accent-main-color;;
                      }
        }
      }
    }
  }

  &__btn-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: none;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    & svg {
      transition: transform ease-in-out 0.2s;
    }
    &:hover svg {
      transform: rotate(180deg);
    }
  }
}

.active-nav-main-link {
  background-color: $accent-main-color;
  color: $main-white-color;
}

@keyframes showMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hideMenu {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
    display: none;
  }
}
