@import "../../scss/abstract/variables.scss";

.header__content-header,
.content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(50%, 50%);
  gap: 24px;
  flex-grow: 1;
  &__content-container,
  .content-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    gap: 35%;
    @media (min-width: 300px) and (max-width: 768px) {
      flex-direction: column;
    }
    @media (min-width: 769px) and (max-width: 1368px) {
    }
    @media (min-width: 1369px) and (max-width: 1499px) {
    }
    @media (min-width: 1500px) {
    }
  }
  
  
  &__hello {
    font-family: Exo-Regular;
    position: relative;
    font-size: 24px;
    color: $main-black-color;
    padding: 12px 24px;
    border-radius: 48px;
    border: 1px solid $main-black-color;
    &::before {
      content: "";
      position: absolute;
      top: -40px;
      left: -60px;
      width: 60px;
      height: 60px;
      transform: rotateY(180deg);
      background-image: url("./decor1.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__title {
    font-family: Exo-Regular;
    font-size: 96px;
    color: $main-black-color;
    text-align: center;
    text-wrap: nowrap;
    position: relative;
    & b {
      text-wrap: nowrap;
      white-space:nowrap;
    }
    @media (min-width: 300px) and (max-width: 768px) {
      font-size: 40px;
    }
    @media (min-width: 769px) and (max-width: 1368px) {
      font-size: 60px;
    }
    @media (min-width: 1369px) and (max-width: 1499px) {
      font-size: 96px;
    }
    @media (min-width: 1500px) {
      font-size: 96px;
    }
    & span {
      color: $accent-main-color;
    }
    &::after {
      content: "";
      position: absolute;
      z-index: 4;
      width: 100px;
      height: 100px;
      background-image: url(./decor2.svg);
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      bottom: -60px;
      right: -72px;
      transform: rotateX(-180deg);
    }
    &::before {
      content: "";
      z-index: 4;
      position: absolute;
      display: block;
      margin-left: 0;
      left: 50%;
      height: 187%;
      height: 100vh;
      background-image: url(/src/component/HeaderContent/person.png);
      background-size: 100%;
      background-repeat: no-repeat;
      margin-right: 0;
      transform: translateX(-50%);
      @media (min-width: 120px) and (max-width: 600px) {
        width: 150%;
        top: -20px;
      }
      @media (min-width: 601px) and (max-width: 768px) {
        width: 250%;
        top: -85px;
      }
      @media (min-width: 769px) and (max-width: 1368px) {
        width: 150%;
        top: -30px;
      }
      @media (min-width: 1369px) and (max-width: 1499px) {
        width: 100%;
        top: 30px;
      }
      @media (min-width: 1500px) {
        width: 100%;
        top: 30px;
      }
    }
  }
  &__rating,
  &__quote {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
    z-index: 999;
    padding: 24px;
  }
  &__rating{
    gap: 24px;
    align-items: end;
    @media (min-width: 300px) and (max-width: 768px) {
      align-items: center;
      gap: 0;
    }
    @media (min-width: 769px) and (max-width: 1368px) {
      align-items: end;
    }
    @media (min-width: 1369px)  and (max-width: 1499px){
      align-items: end;
    }
    @media (min-width: 1500px){
      align-items: end;
    }
    & h2{
      text-wrap: nowrap;
      & b{
        background-color:#ffffff;
      }
      & span{
        color: #f0f3f0;
        background-color: $accent-main-color;
      }
    }
  }
  &__quote{
    min-width: 200px;
    @media (min-width: 300px) and (max-width: 768px) {
      display: none;
    }
    @media (min-width: 769px) and (max-width: 1368px) {
      display: flex;
    }
    @media (min-width: 1369px)  and (max-width: 1499px){
     display: flex;
    }
    @media (min-width: 1500px){
      display: flex;
    }
    & p {
      position: relative;
      
      @media (min-width: 300px) and (max-width: 768px) {
        font-size: 23px;
      }
      @media (min-width: 769px) and (max-width: 965px) {
        font-size: 16px;
      }
      @media (min-width: 966px) and (max-width: 1368px) {
        font-size: 18px;
      }
      @media (min-width: 1369px)  and (max-width: 1499px){
        font-size: 24px;
      }
      @media (min-width: 1500px){
        font-size: 23px;
      }
      &::after, &::before {
        position: relative;
        display: block;
        width: 48px;
        height: 48px;
        content: "";
        background-image: url("./quote.svg");
      }
      &::after{
        transform: rotateX(0deg);
      }
      &::before{
        transform: rotateX(180deg);
      }
    }
  }
  &__action-header,
  .action-header {
    z-index: 1000;
    position: absolute;
    padding: 12px;
    bottom: 24px;
    display: flex;
    gap: 12px;
    border-radius: 48px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    @media (min-width: 300px) and (max-width: 768px) {
      padding: 12px
    }
    @media (min-width: 769px) and (max-width: 1368px) {
      padding: 12px
    }
    @media (min-width: 1369px) and (max-width: 1499px) {
      padding: 12px
    }
    @media (min-width: 1500px) {
      padding: 12px
    }
    &__btn {
      display: flex;
      align-items: center;
      padding: 12px 32px;
      border-radius: 48px;
      border: none;
      font-family: Exo-Bold;
      gap: 12px;
      color: #f0f3f0;
      font-size: 24px;
      cursor: pointer;
      text-wrap: nowrap;
      @media (min-width: 300px) and (max-width: 768px) {
        font-size: 16px;
      }
      @media (min-width: 769px) and (max-width: 1368px) {
        font-size: 18px;
      }
      @media (min-width: 1369px) and (max-width: 1499px) {
        font-size: 24px;
      }
      @media (min-width: 1500px) {
        font-size: 24px;
      }
      &--portfolio {
        background-color: $accent-main-color;
        & span {
          width: 32px;
          height: 32px;
          background-image: url("./arrow.svg");
          background-attachment: none;
          background-size: contain;
        }
      }
      &--order {
        background-color: transparent;
      }
    }
  }
}
