.container{
    display: flex;
    width: 100%;
    max-width: 1368px;
    height: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    &--col{
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }
    &--jc-sb{
        justify-content: space-between;
    }
    &--ai-c{
        align-items: center;
    }
}



