.container{
    display: flex;
    width: 100%;
    max-width: 1660px;
    height: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    &--col{
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }
    &--jc-sb{
        justify-content: space-between;
    }
    &--ai-c{
        align-items: center;
    }
    &--background-dark{
        background-color: #252429;
        border-radius: 48px;
    }
    &--background-light{
        background-color: #f0f3f0;
        border-radius: 48px;
    }
}



