.container{
    display: flex;
    width: 100%;
    max-width: 1368px;
    height: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    scroll-behavior: smooth;
    &--col{
        flex-direction: column;
        justify-content: center;
        gap: 32px;
        scroll-behavior: smooth;
    }
    &__row{
        flex-direction: row;
        gap: 24px;
        flex-wrap: wrap;
    }
      
    &--jc-sb{
        justify-content: space-between;
    }
    &--ai-c{
        align-items: center;
    }
}



