@import "../../scss/abstract/variables.scss";

.blog-article {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  overflow: hidden;
  min-width: 200px;
  max-width: 100%;
  gap: 12px;
  &__data{
  position: absolute;
  top: 0;
  right: 0;
  background-color: $accent-main-color;
  display: flex;
  flex-direction: column;
  padding: 12px;
  color: $main-white-color;
  justify-content: center;
  align-items: center;
  }
  &__comments{
    display: flex;
    align-items: center;
    gap: 8px;
  }
  & img {
    object-fit: cover;
    height: 200px;
  }
  & h2 {
    text-wrap: wrap;
  }
  & p {
    font-size: 14px;
  }
  & a {
    font-family: Geologica-Bold;
    display: flex;
    padding: 8px 4px;
    position: relative;
    width: fit-content;
    z-index: 2;
    
    & span{
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 100%;
      background-color: $accent-main-color;
      z-index: 1;
      mix-blend-mode: color;
      transition: top ease-in-out .25s;
    }
    &:hover span{
      top:0;
    }
    &:hover {
      color: $main-white-color;
    }
  }
}
