@import "../../scss/abstract/variables.scss";
.footer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  background-color: $main-black-color;
  padding-bottom: 48px;
  padding-top: 48px;
  justify-content: center;
  &__col{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 24px;
    min-width: 300px;
    &--right-bottom-end{
      align-items: end;
      justify-content: end;
    } 
  }
  
  & * {
    color: $main-white-color;
  }
  &__link {
    & ul {
      display: flex;
      justify-content: space-between;
      & li ul{
        display: flex;
        flex-direction: column;
        gap: 8px;
        & li a {
          color: rgba($main-white-color, 0.7);
          transition: color ease-in-out .25s;
          &:hover{
            color: $accent-main-color;
          }
        }
      }
    }
  }

  &__social{
    display: flex;
    gap: 24px;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
    justify-content: end;
    & li {
      display: flex;
      
      background-color: $accent-main-color;
      padding: 12px;
    }
  }

 
}
