.logo{
    display: flex;
    width: 200px;
    height: 48px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
    transition: all ease-in-out .25s;
    &--light{
        
        background-image: url('./light.svg');
        @media (min-width: 200px) and (max-width: 600px) {
            background-image: url('./light-mob.svg');
            height: 48px;
            width: 96px;
          }
          
    }

    &--dark{
        
        background-image: url('./dark.svg');
        @media (min-width: 200px) and (max-width: 600px) {
            background-image: url('./dark-mob.svg');
            height: 48px;
            width: 96px;
          }
    }
}