@import "../../scss/abstract/variables.scss";

.blog {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 24px;
  gap: 24px;
  background: rgb(1, 86, 91);
  background: linear-gradient(
    90deg,
    rgba(1, 86, 91, 1) 16%,
    rgba(147, 201, 151, 1) 100%
  );
  &__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    flex: 1;
    & h1 {
      font-size: clamp(20px, 4.6vw, 36px);
      line-height: clamp(20px, 4.6vw, 36px);
      color: $main-white-color;
      text-wrap: wrap;
    } 
    & p {
      font-size: clamp(16px, 4.6vw, 20px);
      color: rgba($main-white-color, 0.7)
    }
  }
  &__media{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    flex: 3;

  }
}
