@import "../../scss/abstract/variables.scss";
.contact {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  &__succsess{
    display: flex;
    z-index: 1;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba($main-white-color, $alpha: 0.5);
  }
  & h1 {
    text-align: left;
    font-size: clamp(32px, 5vw, 64px);
    text-wrap: wrap;
    & span {
      color: $accent-main-color;
    }
  }
  &__data {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    & a {
      box-sizing: border-box;
      display: flex;
      flex: 1;
      min-width: 200px;
      max-width: 100%;
      font-size: clamp(18px, 6vw, 24px);
      font-family: Geologica-Bold;
      &:last-child {
        justify-content: end;
      }
    }
  }

  & form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    & input,
    & select,
    & textarea {
      margin-left: 12px;
      margin-right: 12px;
    }
    & textarea {
      resize: none;
      height: fit-content;
    }

    & label {
      display: inline-flex;
      border-radius: 12px;
      align-items: center;
      outline:4px solid  rgba($accent-main-color, $alpha: 0.5);
      margin-left: 12px;
      padding: 8px;
      line-height: normal;
      cursor: pointer;
      transition: all ease-in-out 0.25s;
    }

    & input[type="radio"] {
      display: none;
      &:checked + label {
        background-color: $accent-main-color;
        color: $main-white-color;
      }
    }

   & button {
    align-self: flex-start;
   }
    & p {
      font-family: Geologica-Medium;
      font-size: clamp(18px, 6vw, 24px);
      text-align: left;
      line-height: 64px;

    }
  }
}


