@import "../../scss/abstract/variables.scss";

.reviews{
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    &__content{
        display: flex;
        gap: 24px;
        align-items: flex-start;
        flex-wrap: wrap;
        flex: 1;
        min-width: 200px;
    }
    &__form{
        display: flex;
        flex: 1;
        max-width: 400px;
        min-width: 200px;
        & form{
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 8px;
            width: 100%;
        }
    }
    &__article{
        background-color: $accent-main-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 24px;
        gap: 12px;
        flex: 1;
        max-width: 200px;
        & h1 {
            font-size: 24px;
            color: $main-white-color;
        }
        & p {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            color: $main-white-color;
            &::after{
                content: "";
                
                background-image: url("./quote.svg");
            }
            &::before{
                content: "";
                background-image: url("./quote.svg");
                transform: rotateX(180deg);
            }
            &::after, &::before{
                display: flex;
                width: 24px;
                height: 24px;
            }


        }

        & span {
         font-size: 12px;
         color: $main-white-color;
        }
    }
}