@import "../../scss/abstract/variables.scss";

.reviews {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
  
  &__content {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: repeat(auto, auto);
    max-height: 490px;
    min-width: 327px;
    @media (max-width: 1215px) {
      grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
    @media (max-width: 987px) {
      grid-template-columns: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      scrollbar-width: none;
      padding: 4px;
    }
    gap: 24px;
    flex: 1;
    min-width: 200px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 24px;
    border-radius: 24px;
    max-width: 400px;
    min-width: 327px;
    box-sizing: border-box;
    background-color: $main-black-color;
    padding: 12px;
    @media (max-width: 625px) {
      max-width: 100%;
    }
    & h1 {
      font-size: clamp(20px, 4.6vw, 36px);
      line-height: clamp(20px, 4.6vw, 36px);
      color: #ffffff;
      text-wrap: wrap;
    }
    & form {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 8px;
      width: 100%;
    }
  }
  &__article {
    background-color: $main-white-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12px;
    border-radius: 24px;
    gap: 12px;
    flex: 1;
    max-width: 100%;
    max-height: 100%;
    outline: 4px solid rgba($main-black-color, 0.5);
    & h3 {
      font-size: clamp(14px, 4.6vw, 16px);
      text-wrap: wrap;
      color: rgba($main-black-color, 0.5);
    }
    & p {
      font-size: clamp(20px, 4.6vw, 24px);
      text-wrap: wrap;
      color: $main-black-color;
      overflow: hidden;
    }

    & span {
      font-size: 12px;
      color: $main-black-color;
    }
  }
}
