$accent-main-color: #ff7900; //
$main-black-color: #111111;
$main-black-color-hover: #282828;
$main-black-color-click: #121214;
$main-white-color: #f0f3f0;
$main-white-color-trans: rgba(255,255,255,0.7);
$main-white-color-hover: #fbfcfb;
$main-white-color-click: #e5eae5;
