$accent-main-color: #5ABA8A; //
$accent-main-color-hover-transparent: rgba(#5ABA8A, 0.5); //
$accent-main-color-hover: #CC6000; //
$main-black-color: #111111;
$main-black-color-hover: #282828;
$main-black-color-click: #121214;
$main-white-color: #f0f3f0;
$main-white-color-trans: rgba(255,255,255,0.7);
$main-white-color-hover: #fbfcfb;
$main-white-color-click: #e5eae5;
// MAIN-RED-COLOR
$main-red-color: #ff4e4e;
// COLOR FONTS
$text-color-black: #002122;
// COLOR FOR ERROR
