@import "./scss/abstract/variables.scss";
@import "./scss/abstract/mixins.scss";
@import "./scss/layout/layout.scss";
@import "./scss/base/reset.scss";
@import "./scss/base/typography.scss";

html {
  @include DefaultFont;
}

h1, h2, h3, h4, h5, h6 {
  @include TitleFont;
  text-wrap: nowrap;
}
#root{
  display: flex;
  flex-direction: column;
  gap: 62px
}
p, a{
  @include ParagraphFont;
  
}

header, footer, main, section, .nav{
  padding: 0 48px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 200px) and (max-width: 700px) {
    padding: 0 24px;
  }
  @media (min-width: 701px) and (max-width: 1368px) {
    padding: 0 48px;
  }
  @media (min-width: 1369px) {
    padding: 0 48px;
  }
}

input, textarea, select {
  border: none;
      outline: none;
      border-radius: 12px;
      border: 1px solid transparent;
      padding: 8px 24px;
      font-size: clamp(18px, 6vw, 18px);
      font-family: Geologica-Light;
      transition: all ease-in-out .25s;
      background-color: #EFF7FA;
      outline: 4px solid rgba($accent-main-color, $alpha: .3);
&:focus{
  outline: 4px solid rgba($accent-main-color, $alpha: .7);
}
}
textarea {
  resize: none;
}
input[type="search"]{
  padding-left: 48px;
}
.form-only-search:has(input[type="search"])  {
  position: relative;
  &::before{
    position: absolute;
    margin-top: 5px;
    left: 12px;
    content: "";
    aspect-ratio: 1/1;
    height: 32px;
    background-image: url("./img/searchsvg.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
textarea{
  font-size: 14px;
}
.input__error{
  color: #ef5f55;
  display: flex;
  font-size: 12px;
  min-height: 12px;
}

.btn-form{
  display: flex;
  background-color: $accent-main-color;
  color: $main-white-color;
  padding: 12px;
  border: none;
  font-family: Geologica-Regular;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  &:disabled{
    cursor:not-allowed;
  }
}

* ::selection{
  color: $main-white-color;
  background-color: $accent-main-color;
}