@import "./scss/abstract/variables.scss";
@import "./scss/abstract/mixins.scss";
@import "./scss/layout/layout.scss";
@import "./scss/base/reset.scss";
@import "./scss/base/typography.scss";

html {
  @include DefaultFont;
}

h1, h2, h3, h4, h5, h6 {
  @include TitleFont;
  text-wrap: nowrap;
}
#root{
  display: flex;
  flex-direction: column;
  gap: 48px
}
p, a{
  @include ParagraphFont;
  
}

header, footer, main, section{
  padding: 0 48px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  @media (min-width: 200px) and (max-width: 700px) {
    padding: 0 24px;
  }
  @media (min-width: 701px) and (max-width: 1368px) {
    padding: 0 48px;
  }
  @media (min-width: 1369px) {
    padding: 0 48px;
  }
}



