@import "../../scss/abstract/variables.scss";
.admin{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-white-color;
    width: 100%;
    height: 100vh;
    padding: 0;
    &__login-form{
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 24px;
        background-color: #ffffff;
    }
}